*{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
}

body{
    background-color: #faf6ed;
    color: #2222;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu{
    grid-column: 3 / 5;
    margin: 2rem 0 2rem 0;
    background-color: #fb5;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    margin-right: 10px;
    color: #2222;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: .1em;
}

.grid-section{
    grid-column: 2 / 4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    grid-gap: 20px;
    margin-bottom: 4rem;
}

.titulo{
    font-family: georgia;
    font-size: 6rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1 / 4;
}

.animais p{
    font-family: Arial;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.animais h2::before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background-color: #fb5;
}

.animais h2{
    font-family: monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: #e54;
}

.animais-lista{
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
}

.animais-lista li{
    cursor: pointer;
}

.animais-lista::-webkit-scrollbar{
    width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb{
    background-color: #fb5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track{
    background-color: #faf6ed;
}

.animais-descricao{
    grid-column: 3;
}

.animais-descricao article{
    margin-bottom: 3rem;
}

.faq-lista{
    grid-column: 2 / 4;
}

.faq-lista dt{
    font-family: monospace;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #e54;
}

.faq-lista dt::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background-color: #fb5;
}
.faq-lista dd{
    font-family: Arial;
    margin-bottom: .5rem;
    margin-left: 30px;
}

.mapa{
    grid-column: 2;
}

.dados{
    grid-column: 3;
}

.dados li{
    margin-bottom: 1rem;
    font-family: Arial;
}

.dados li::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background-color: #fb5;
}

.dados li a{
    text-decoration: none;
    color: #2222;
}

#funcionamento.aberto::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background-color: #3f4;
}

#funcionamento::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background-color: #e54;
}

.copy{
    grid-column: 3 / 5;
    margin-bottom: 2rem;
    background-color: #fb5;
}

.copy p{
    padding: 20px;
    font-family: monospace;
    font-weight: bold;
}

.js [data-tab="content"] article{
    display: none;
}

[data-tab="content"] article.ativo{
    display: block !important;
}

[data-tab="content"] article.ativo.show-right{
    animation: show-right .5s forwards;
}

[data-tab="content"] article.ativo.show-down{
    animation: show-down .5s forwards;
}

@keyframes show-right{
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes show-down{
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

[data-anime="accordion"] dd{
    display: none;
}

[data-anime="accordion"] dt::after{
    content: '⬎';
}

[data-anime="accordion"] dt.ativo::after{
    content: '⬏';
}

[data-anime="accordion"] dd.ativo{
    display: block;
    animation: slideDown .5s forwards;
}

@keyframes slideDown{
    from{
        opacity: 0;
        max-height: 0;

    }to{
        opacity: 1;
        max-height: 800px;
    }
}

.js [data-anime='scroll']{
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .3s;
}

.js [data-anime='scroll'].ativo{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@media (max-width: 700px){
    .grid-container{
        grid-template-columns: 1fr;
    }

    .menu, .grid-section, .copy{
        grid-column: 1fr;
    }

    .grid-section{
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
    }

    .animais-lista{
        grid-column: 1;
    }

    .faq-lista, .dados, .mapa{
        grid-column: 1 / 3;
    }

    .grid-section{
        font-size: 3rem;
    }

    .menu{
        margin-top: 0px;
    }

    .copy{
        margin-bottom: 0px;
    }
}