.header {
  max-width: var(--container);
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  padding: 40px 20px;
}

.header h1 {
  position: relative;
  padding: 0 28px;
}

.header h1::before {
  content: "";
  background: url("../img/arrow.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 4px;
  transform: rotate(-180deg);
}

.header h1::after {
  content: "";
  background: url("../img/arrow.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 4px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  text-decoration: none;
  color: var(--textos);
  font-size: 1.1125rem;
  padding: 10px 20px;
  display: block;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }

  .header-menu a {
    background-color: #f5f5f5;
    border-radius: 4px;
  }
}
