body {
  margin: 0;
}

div {
  background-color: #aaa;
  width: 140px;
  height: 80px;
  padding: 30px;
  border: 10px solid #111;
  margin: 30px;
}

h1 {
  background: #84e;
  padding: 20px;
  border: 4px solid #111;
  margin: 30px;
}

/* As margens no CSS colidem e fica sempre o valor da maior margin, não somando e sim substituindo sempre pela maior */
